// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '~select2/src/scss/core';
@import '~select2-theme-bootstrap4/src/select2-bootstrap.scss';

body {
  margin-top: 75px;
}

ul {
    margin-bottom: 0;
}

.select2 {
    width:100%!important;
}
